<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Kuruluş Bilgileri</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Kısa Adı</label>
                  <input type="text" class="form-control" disabled="" placeholder="Company" value="{{info.shortName}}">
                </div>
              </div>
              <div class="col-md-7 px-1">
                <div class="form-group">
                  <label>Ünvanı</label>
                  <input type="text" class="form-control" disabled="" placeholder="Username" value="{{info.title}}">
                </div>
              </div>
            </div>
            <div class="row">
              <h5 class="ml-2">İletişim Bilgileri</h5>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="mail">Mail Adresi</label>
                <input type="text" disabled class="form-control" name="mail" value="{{info.mail}}">
              </div>
              <div class="col-md-4">
                <label for="phone">Telefon</label>
                <input type="text" disabled class="form-control" name="phone" value="{{info.phone}}">
              </div>
              <div class="col-md-4">
                <label for="fax">Fax</label>
                <input type="text" disabled class="form-control" name="fax" value="{{info.fax}}">
              </div>
            </div>
            <div class="row">
              <h5 class="ml-2 mt-1">Adres Bilgileri</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Addres</label>
                  <input type="text" class="form-control" disabled="" placeholder="Home Address"
                    value="{{info.adress.openAdress}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Şehir</label>
                  <input type="text" class="form-control" disabled="" placeholder="City"
                    value="{{info.adress.province}}">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>İlçe</label>
                  <input type="text" class="form-control" disabled="" placeholder="City"
                    value="{{info.adress.district}}">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Ülke</label>
                  <input type="text" class="form-control" disabled="" placeholder="Country"
                    value="{{info.adress.country}}">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Posta Kodu</label>
                  <input type="number" class="form-control" disabled="" placeholder="ZIP Code"
                    value="{{info.adress.postalCode}}">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--<agm-map [latitude]="info.googleMaps.lat" [longitude]="info.googleMaps.lng">
        <agm-marker [latitude]="info.googleMaps.lat" [longitude]="info.googleMaps.lng"></agm-marker>
      </agm-map>-->
    </div>
  </div>
</div>